:root {
  --color1: #010059;
  --color2: #52437b;
  --color3: #ff7a8a;
  --color4: #fcf594;
}
.container-main {
}
.container-header {
  background: var(--color2);
  color: white;
  font-size: 30px;
  padding: 20px;
}
.piechart-container {
  margin: 0 auto;
  padding-top: 30px;
}
.piechart-container * {
  height: 300px;
}
